* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

input {
  position: absolute;
  width: 740px;
  height: 73px;
  left: 350px;
  top: 2949px;
  border: 2px solid #61646b;
  box-sizing: border-box;
  border-radius: 50px;
}

body {
  margin: 100px 300px 100px 270px;
  background-image: url(assets/retangulo.png);
  background-repeat: no-repeat;
  width: 1400px;
  height: 100%;
  background-position-x: right;
}

.div-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-hero ul {
  display: flex;
  list-style-type: none;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 64px;
  gap: 64px;
}

a {
  text-decoration: none;
  color: #61646b;
}

.button-signup {
  width: 170px;
  height: 60px;
  background: #eef4ff;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e3fd8;
}

h1 {
  width: 550px;
  height: 264px;
  top: 100px;
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 92px;
  margin-bottom: 30px;
}

.justify-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.justify-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paragrafo {
  text-align: left;
  width: 455px;
  height: 54px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #61646b;
  margin-bottom: 30px;
}

.button-started {
  all: unset;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: absolute;
  width: 170px;
  height: 60px;
  background: #3e3fd8;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.button-video {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 200px;
  height: 48px;
  left: 450px;
  top: 670px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.justify-center {
  display: flex;
  justify-content: center;
}

h2 {
  height: 69px;
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 69px;
  color: #2e323b;
  text-align: center;
}

.clients-info {
  display: flex;
  text-align: left;
  justify-content: left;
}

p {
  text-align: center;
  justify-content: center;
}

.justify-column {
  flex-direction: column;
  align-items: center;
  margin-top: 125px;
}
